
	  
	  body {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
			-ms-flex-pack: center;
				justify-content: center;
		background-image: url("bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed; 
	  }
	  
	  canvas {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
	  }
	  
	  input {
		font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
	  }
	  
	  ::-webkit-input-placeholder {
		color: #5E6C77;
		text-shadow: 0 0 .125em transparent;
		-webkit-transition: all .25s;
		transition: all .25s;
	  }
	  
	  input:focus::-webkit-input-placeholder {
		opacity: .5;
	  }
	  
	  ::-moz-placeholder {
		color: #5E6C77;
		text-shadow: 0 0 .125em transparent;
		-webkit-transition: all .25s;
		transition: all .25s;
	  }
	  
	  input:focus::-moz-placeholder {
		opacity: .5;
	  }
	  
	  :-ms-input-placeholder {
		color: #5E6C77;
		text-shadow: 0 0 .125em transparent;
		-webkit-transition: all .25s;
		transition: all .25s;
	  }
	  
	  input:focus:-ms-input-placeholder {
		opacity: .5;
	  }
	  html{
		  height: 100%;
		   
	  }
	  
#kuang {
    position: relative;
    width: auto;
    height: auto;
	max-height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    opacity:0.9;
    border: 0;
    border-radius: 10px;
    color: rgba(0, 0, 0, .87);
    background: #fff 50%;
    background-size: cover;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
	margin-bottom: 20%;
}